extends layout

block content
    h1.title ID: #{book_instance.id}

    p #[strong Title:] 
        a(href=book_instance.book.url) #{book_instance.book.title}
    p #[strong Imprint:] #{book_instance.imprint}
    p #[strong Status:] 
        if book_instance.status=='Available'
            span.has-text-success #{book_instance.status}
        else if book_instance.status=='Maintenance'
            span.has-text-danger #{book_instance.status}
        else
            span.has-text-warning #{book_instance.status}
    p #[strong Due back:] #{book_instance.due_back_formatted}