doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    
    div.navbar.is-spaced.has-shadow
      div.navbar-brand
        a(href="/catalog").navbar-item
          h1.title.is-4 Local Library
        a(role="button", aria-label="menu", aria-expanded="false", data-target="main-nav").navbar-burger.burger
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      div.navbar-menu#main-nav
        div.navbar-start
          a.navbar-item.is-tab(href="/catalog/books", class=booksActive, style="border-radius:0") Books
          a.navbar-item.is-tab(href="/catalog/authors", class=authorsActive, style="border-radius:0") Authors
          a.navbar-item.is-tab(href="/catalog/genres", class=genresActive, style="border-radius:0") Genres
          a.navbar-item.is-tab(href="/catalog/bookinstances", class=instancesActive, style="border-radius:0") Book Instances
        div.navbar-end
          if !authUser
            div.navbar-item
              div.buttons
                a.button.modal-button.is-light(data-target='loginModal') Login
                a.button.modal-button.is-link(data-target='registerModal') Register
          else
            div.navbar-item.has-dropdown.is-hoverable
              a.navbar-link 
                ion-icon(name='ios-add-circle-outline')
                |INSERT NEW
              div.navbar-dropdown
                a.navbar-item Book 
                a.navbar-item Author
                a.navbar-item Genre
                a.navbar-item Book Instance
            div.navbar-item.has-dropdown.is-hoverable
              a.navbar-link
                ion-icon(name='ios-contact')
                |#{authUser.username.toUpperCase()}
              div.navbar-dropdown
                a.navbar-item(href='/logout') Logout

    div.container.section
      block content

    //- Login Modal
    div.modal#loginModal
      div.modal-background
      div.modal-card
        div.modal-card-head
          p.modal-card-title Login Form
          button.delete(aira-label='close')
        div.modal-card-body
          form(action='/login', method='post')#loginForm
            div.field
              label.label Username
              div.control
                input.input.submit-input(
                  name='username',
                  type='text',
                  placeholder='Enter your username'
                )
            div.field
              label.label Password
              div.control
                input.input.submit-input(
                  name='password',
                  type='password',
                  placeholder='Enter your password'
                )
        div.modal-card-foot
          button.button.is-link.submit-btn(data-target='loginForm',type="submit") Login
          button.button.close Cancel

    //- Register Modal
    div.modal#registerModal
      div.modal-background
      div.modal-card
        div.modal-card-head
          p.modal-card-title Register Form
          button.delete(aira-label='close')
        div.modal-card-body
          form(action='/register',method='post')#regForm
            div.field
              label.label Username
              div.control
                input.input.submit-input(
                  name="username",
                  type='text',
                  placeholder='Enter your username'
                )
            div.field
              label.label Password
              div.control
                input.input.submit-input(
                  name="password",
                  type='password',
                  placeholder='Enter your password'
                )
            div.field
              label.label Confirm Password
              div.control
                input.input.submit-input(
                  name="confPassword",
                  type='password',
                  placeholder='Confirm your password'
                )
        div.modal-card-foot
          button.button.is-link.submit-btn(data-target='regForm') Register
          button.button.close Cancel

    script(src="/javascripts/all.js")
    script(src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js")
    script(src="/javascripts/client.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/socket-client.js")